:root {
    --green-90-light: #ecf8f2;
    --green-80-light: #daf1e4;
    --green-70-light: #c7ead7;
    --green-60-light: #b5e3c9;
    --green-50-light: #a2ddbc;
    --green-40-light: #8fd6ae;
    --green-30-light: #7dcfa1;
    --green-20-light: #6ac893;
    --green-10-light: #58c186;
    --green-0: #45ba78;
    --green-10-dark: #3ea76c;
    --green-20-dark: #379560;
    --green-30-dark: #308254;
    --green-40-dark: #297048;
    --green-50-dark: #235d3c;
    --green-60-dark: #1c4a30;
    --green-70-dark: #153824;
    --green-80-dark: #0e2518;
    --green-90-dark: #07130c;

    /* lightmode */
    --primary-color: #1B1E24;
    --secondary-color: #1B1E24;
    --font-color: #1B1E24;
    --bg-color: #a2ddbc;
    --heading-color: #1B1E24;
}

/* Darkmode */

[data-theme="dark"] {
    --primary-color: #fff;
    --secondary-color: #fff;
    --font-color: #fff;
    --bg-color: #1B1E24;
    --heading-color: #fff;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 3vh;
    .content h1{
      color: var(--primary-color);
      font-family: "Dosis",sans-serif;
      font-size: 5rem;
    }
    .content p{
      color: var(--primary-color);
      font-family: "Dosis",sans-serif;
      font-size: 2rem;
    }
  }
  
  
  .header{
    position: absolute;
    top: 10px;
    right: 20px;
    .moon, .sun{
      width: 34px;
      cursor: pointer;
      transition: .5s all ease-in-out;
    }
    .sun:hover{
      animation: 1s sun_rotate 1s 2 ;
    }
    .moon:hover{
      transform: scale(1.1);
    }
    .hide{
      display: none;
    }
  }
  
  
   /* Animations */
  
  @keyframes sun_rotate{
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Geologica";
    background-color: var(--bg-color);
    
}

/* Header */
header {
    display: grid;
    place-content: center;
}
header h1 {
    text-align: center;
}


.btn {
    margin: 1rem;
    padding: 3px 10px;
    font-family: "Geologica";
    /* max-width: 200px; */
}

/* Main */
main {
    display: grid;
    place-content: center;
}

/* User Data */
.user {
    position: relative;
    width: fit-content;
    padding: 1rem 2rem;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid black;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.user-data h3 {
    margin: 0;
    display: grid;
    gap: 1rem;
}
.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* User Tracks */
.top-tracks {
    padding: 1rem;
    border: 2px solid black;
}
.top-tracks h2 {
    margin: 0;
}